<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.taoeer.simplecms.mapper.StudentMapper">

    <resultMap id="studentResultMap" type="student">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="sex" column="sex"/>
        <result property="age" column="age"/>
        <association property="clazz" column="clazz_id" javaType="clazz" select="selectClazz"/>
    </resultMap>

    <select id="selectClazz" resultType="clazz">
        select *
        from clazz
        where id = #{id}
    </select>

    <select id="select" resultMap="studentResultMap">
        select *
        from student
        where id = #{id}
    </select>
</mapper>