<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.taoeer.simplecms.mapper.UserMapper">
    <insert id="save" parameterType="user" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO users(name, sex, age)
        VALUES (#{name}, #{sex}, #{age})
    </insert>

    <select id="select" parameterType="int" resultType="user">
        select *
        from users
        where id = #{id}
    </select>

    <update id="update" parameterType="user">
        update users
        set name=#{name},
            sex=#{sex},
            age=#{age}
        where id = #{id}
    </update>

    <delete id="delete" parameterType="int">
        delete
        from users
        where id = #{id}
    </delete>

</mapper>